.textAreaWithLines{
    margin: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: 'Source Code Pro';
    font-size:14px;
}

.textAreaWithLines textarea/*, .textAreaWithLines div*/ {
    border:0px;
    line-height:120%;
    color: #555;
    font-size:16px;
}

.lineObj{
    color:#ccc !important;
    border:0px;
    line-height:19.2px;
    font-size:12px;
}

